@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
   
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    background-attachment: fixed;
    background:url(hk.webp) no-repeat;
    background-size: cover ;
    
    
}
.card{
   
    position: relative;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;;
    border: 2px solid rgb(101, 233, 40);
   background: transparent;
   border-radius: 10px;
   transition: .5s;
  size: 100px;
  background-color: rgb(15, 8, 13);
  color: rgb(239, 242, 243);
  margin-left: 120px;
    
}
.card:hover{
    border: 5px solid rgb(228, 224, 8);
    box-shadow: 0px 0 100px rgb(42, 214, 19),inset 0 0 20px rgb(236, 69, 47);

}
h1{
    margin-top: 10px;
    font-size: 2em;
    color:rgb(19, 18, 12);
    transition: .5s;
    text-align: center;
   background:rgb(212, 212, 230);
   width:30%;
   margin-left: 450px;
   font-family:'Times New Roman', Times, serif;
}
.main-btn{
    color: blue;
    background-color: #0ef;
}
.main-btn:hover{
    color:rgb(219, 236, 236);
    background-color: rgb(8, 9, 20);
}
.nonveg{
    border-color:orange;
}
.dropdown .dropdown-menu{
    color: rgb(222, 240, 222);
    background-color:rgb(12, 21, 22);
}
.dropdown .dropdown-menu input:hover{
    color:rgb(216, 233, 233);
    background-color: rgb(43, 64, 253);
}
.non h1 span{
    display:block; font-size: 1.5rem;
    font-weight: 700;
    color:var(--primary-color);
    padding-bottom: 1em; 
    border-bottom: 0.0625rem solid #eee;
}
form .toy{
    margin-left: 600px;
    color: #eee;
    background-color: rgb(252, 18, 96);
    width: 10%;
    height:50px;
}
form .toy:hover{
    color: #eee;
    background-color: rgb(13, 90, 235);
}