@media (max-width: 991px) {
    .text-content{
    width:100%;
    }

    
.navigation-wrap .navbar-brand img{
    height:3.8125rem 3.8125rem;
    }
.navigation-wrap .nav-link{
    line-height: 1.875;
    color: var(--black-color);
}
.navigation-wrap{
    text-align: center;
    background-color: var(--white-color);
}
.top-banner{
    padding: 9.375rem 0 9.375rem;
}
}
  @media (max-width: 767px) {
    h1 {
    font-size: 2.8rem;
    }  
    h2 {
        font-size: 1.3rem;
        line-height: 28px;
    }
.top-banner{
    padding: 10.375rem 0 9.375rem;
}
.top-banner .main-btn{
   height:50px;
   width: 40%;
}
}
